*{
    box-sizing: border-box;
}

html
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    /* background-image: url(bck.jpg); */
    text-align: center;
    transition-duration: 0.4s;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.game-start-menu
{

}

.header
{
    /* color: white; */
}


.leaderboard
{
    border:1px solid black;
    margin-left: auto;
    margin-right:auto;
    width:75%;
}

.game-board
{
    margin-left: auto;
    margin-right:auto;
}

.board-button
{
    text-align: center;
    font-size: x-large;
}
/* .menu
{
    height:0;
    width:20%;
    padding-top: 2%;
    padding-bottom:10%;
    background-color:rgba(255, 255, 255, 0.465);
    text-align: center;
    align-items: center;
    color: aliceblue;
    font-weight: bold;
}

.game-div
{
    height:0;
    width:20%;
    padding-bottom:15%;
    background-color:rgba(255, 255, 255, 0.465);
    text-align: center;
    align-items: center;
    color: aliceblue;
    font-weight: bold;
} */